
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MySite - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/assets/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/venobox/venobox.css" rel="stylesheet" />
    <link href="~/assets/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/aos/aos.css" rel="stylesheet" />
    <link href="~/assets/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- =======================================================
    * Template Name: Company - v2.1.0
    * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <!-- ======= Overriden styles ======= -->
    <style>

        .breadcrumbs {
            padding: 15px 0;
            background: #74bce6;
            min-height: 40px;
            margin-top: 72px;
        }

        .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
            color: #74bce6;
        }

        #header .logo a span {
            color: #74bce6;
        }

        .nav-menu .drop-down ul {
            border-top: 2px solid #74bce6;
        }

        #hero .carousel-content {
            border-top: 5px solid #74bce6;
        }

        #hero .btn-get-started {
            border: 2px solid #74bce6;
        }

            #hero .btn-get-started:hover {
                background: #74bce6;
            }

        .section-title h2::after {
            background: #74bce6;
        }

        .about-us .content ul i {
            color: #74bce6;
        }

        #hero .carousel-indicators li.active {
            background: #74bce6;
        }

        .back-to-top {
            background: #74bce6;
        }


        #footer .footer-top .footer-links ul i {
            color: #74bce6;
        }

        #footer .footer-newsletter form input[type="submit"] {
            background: #74bce6;
        }

            #footer .footer-newsletter form input[type="submit"]:hover {
                background: #62a3ea;
            }

        .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
            color: #74bce6;
        }

        .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
            background: #74bce6;
        }

        .blog .entry .entry-content .read-more a {
            background: #74bce6;
        }

        .blog .sidebar .search-form form button {
            background: #74bce6;
        }

        .blog .sidebar .tags ul a:hover {
            border: 1px solid #74bce6;
            background: #74bce6;
        }

        .contact .info i {
            border: 1px solid #74bce6;
            color: #74bce6;
        }

        .contact .info:hover i {
            background: #74bce6;
        }

        .contact .php-email-form button[type="submit"] {
            background: #74bce6;
        }

        .contact .php-email-form button[type="submit"]:hover {
            background: #569be4;
        }
    </style>

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="/home"><span>Com</span>pany</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            @*<a href="index.html" class="logo mr-auto"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>*@
            
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/Home">Home</a></li>

                    <li class="drop-down">
                        <a href="">About</a>
                        <ul>
                            <li><a href="/AboutUs">About Us</a></li>
                            <li><a href="/AboutUs/team">Team</a></li>
                            <li><a href="/AboutUs/Testimonials">Testimonials</a></li>
                            <li class="drop-down">
                                <a href="#">Deep Drop Down</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="/services">Services</a></li>
                    <li><a href="/Portfolio">Portfolio</a></li>
                    <li><a href="/Pricing">Pricing</a></li>
                    <li><a href="/Blog">Blog</a></li>
                    <li><a href="/Contact">Contact</a></li>

                </ul>
            </nav><!-- .nav-menu -->

            <div class="header-social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
            </div>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->

    <main id="main">

        @RenderBody()

    </main>
    <!-- End #main -->

    @Html.Partial("_footer")

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <script src="~/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/php-email-form/validate.js"></script>
    <script src="~/assets/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/assets/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/venobox/venobox.min.js"></script>
    <script src="~/assets/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/aos/aos.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
